#container {
  background: #191919;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*.focus {
  color: #000;
  background: #DDBB54;
}
#home {
  width: 95%;
  height: 98%;
}
#home .showCard {
  display: flex;
  justify-content: flex-start;
}
#home .showCard .showCardBtn {
  width: 30px;
  height: 30px;
  background-color: #DDBB54;
}
#home .showCard .heroMenu {
  background-color: #fff;
  line-height: 30px;
  height: 30px;
  display: none;
  justify-content: space-around;
  transition: width 0.3s;
  width: 100%;
}
#home .showCard .heroMenu .heroItem {
  width: 25%;
  text-align: center;
}
#home .showCard .heroMenu.show {
  display: flex;
}
#home .heroDetail {
  display: none;
  justify-content: space-around;
  background-color: #fff;
  height: 100px;
  margin-left: 30px;
}
#home .heroDetail .heroInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  text-align: center;
}
#home .heroDetail .heroInfo:nth-child(2n) {
  background: #d3c6ff;
}
#home .heroDetail.show {
  display: flex;
}
