* {
  margin: 0;
  padding: 0;
}
.content {
  width: 1280px;
  height: 720px;
}
.content .left_content {
  background-color: #191919;
  width: 180px;
  height: 720px;
  float: left;
}
.content .left_content .title {
  padding-top: 180px;
  padding-left: 50px;
}
.content .left_content .title ul {
  list-style: none;
  margin: 0 auto;
}
.content .left_content .title ul li {
  height: 48px;
  width: 180px;
  color: #C3C3C3;
  font-size: 24px;
  text-align: left;
}
.content .right_content {
  background-color: #101010;
  width: 1100px;
  height: 720px;
  float: left;
}
.content .right_content .contoiner {
  width: 930px;
  margin: 0 auto;
  position: relative;
}
.content .right_content .contoiner .message {
  color: #C3C3C3;
  position: absolute;
  top: 0;
  right: 0;
}
.content .right_content .contoiner .message .wi-fi {
  float: left;
  font-size: 16px;
  padding-top: 33px;
}
.content .right_content .contoiner .message .date {
  float: left;
  margin-left: 10px;
  padding-top: 26px;
  font-size: 24px;
}
.content .right_content .contoiner .message .week {
  float: left;
  margin-left: 10px;
  padding-top: 26px;
  font-size: 24px;
}
.content .right_content .contoiner .message .time {
  float: left;
  margin-left: 10px;
  padding-top: 18px;
  font-size: 32px;
}
.content .right_content .contoiner .r_title {
  color: #C3C3C3;
  padding-top: 74px;
}
.content .right_content .contoiner .r_title span {
  font-size: 24px;
}
.content .right_content .contoiner .r_title .sports {
  margin-left: 20px;
}
.content .right_content .contoiner .r_content {
  padding-top: 16px;
}
.content .right_content .contoiner .r_content .content_box {
  width: 180px;
  height: 136px;
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}
.content .right_content .contoiner .r_content .content_box img {
  height: 104px;
  float: left;
}
.content .right_content .contoiner .r_content .content_box .content_title {
  height: 32px;
  width: 180px;
  background-color: #4C4C4C;
  float: left;
}
.content .right_content .contoiner .r_content .content_box .content_title span {
  color: #C3C3C3;
  font-size: 21px;
  padding-left: 5px;
  position: relative;
  top: 2px;
}
